.NavbarItems {
  display: flex;
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 1%;
}

.nav-menu {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-gap: 2.1%;
  list-style: none;
  text-align: center;
  justify-content: center;
  text-decoration: none;

}

.Nav-links, .nav-primeiro {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  padding: 0.2rem 0.2rem;
}
.Nav-links:hover:not(.active) {
  background-color: rgb(31, 29, 29);
}
.nav-primeiro:after{
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  background: #a81d1d;
  border-radius: 100%;
  vertical-align: middle;
  margin-left: 8px;
}

.nav-primeiro:hover:not(.active) {
  background-color: rgb(31, 29, 29);
}